extends layout

block content
  - nbsp = '&nbsp'
  p!= nbsp
  .container
    .jumbotron.text-center
        h1= title
        .row
            .col-sm-8.col-sm-offset-2.text-center
                p Gifs feed

