extends layout

block content
  - nbsp = '&nbsp'
  p!= nbsp
  .container.text-center
      h1= title
      .row
        .col-sm-10.col-sm-offset-1
          video#video(width='850', height='480', muted='muted', autoplay='autoplay', src='video/test.mp4', style='display: block; margin: 0 auto;')
          canvas#gif(width='850', height='480', style='display: block; margin: 0 auto;') Your browser does not support the HTML5 canvas tag.
