script(type='text/ng-template', id='list.html')
  video.video-container(width='850', height='480', muted='muted', controls='controls', ng-src='{{url}}', style='display: block; margin: 0 auto;')
  canvas.gif-container(width='850', height='480', style='display: block; margin: 0 auto;') Your browser does not support the HTML5 canvas tag.
  img.img-container(width='850', height='480', style='display: block; margin: 0 auto;')